extends layout

block content
	h1= title
	p This is another page.

	script(src='/socket.io/socket.io.js')

	script(type='text/javascript)
		var socket = io.connect('http://node-tree.local');
		socket.on('sharecreated', function (share) {
			console.log("broadcast event received")
			console.log(share);
			// TODO: create a client-side Share object? Can we send a full object?
			console.log(share._node._data.data.awesm_url);
			document.getElementById('eventdata').innerHTML = share._node._data.data.awesm_url;
		});

	div#eventdata
		|This is where an event will go.
