extends layout

block content
	h1= title
	p Welcome to #{title}
	p This is my node app...

	script(src='/socket.io/socket.io.js')

	script(type='text/javascript)
		var socket = io.connect('http://node-tree.local');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});

	input#message(type='text')

	button(onclick="socket.emit('chatmessage',{ message: document.getElementById('message').value })")
		|Send an event
