extends layout

block content
	h1= title
	p Welcome to #{title}

	script(src='/socket.io/socket.io.js')

	script(type='text/javascript)
		var socket = io.connect('http://node-tree.local');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});
		var getFormData = function(formName) {
			var form = document.getElementById(formName);
			var inputs = form.getElementsByTagName('input');
			var data = {};
			for(var i = 0; i < inputs.length; i++) {
				var el = inputs[i];
				if (el.id) data[el.id] = el.value;
			}
			console.log(data);
			return data;
		}

	h2 Create a fake share
	form#createshare
		p awesm_url:
			input#awesm_url(type='text')
		p parent_awesm:
			input#parent_awesm(type='text')
		p Destination:
			input#destination(type='text')
	button(onclick="socket.emit('createshare', getFormData('createshare') ); return false;")
		|Create share

	h2 Find shares
	p
		a(href='/shares') See existing shares
